<form action="" method="post">
  <div>
    <input type="text" name="title" value="" placeholder="Заголовок">
  </div>
  <div>
    <input type="text" name="slug" value="" placeholder="Короткая ссылка">
  </div>
  <div>
    <textarea name="body" rows="8" cols="80" placeholder="Текст..."></textarea>
  </div>

  <div>
    <button>Сохранить</button>
  </div>
</form>
